
html{
    scroll-behavior: smooth;
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    background-color: #2c3e50;
}
.logo{
    color: white;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    gap : 20px;
}
.nav-links a:hover{
    text-decoration: underline;
    color: #1abc9c;
}
.section{
    padding: 60px 20px;
    text-align: center;
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    font-size: 14px;
}

.contact-form button {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1abc9c;
}
button {
    border-radius: 5px;
}
@media (max-width: 800px) {
    .navbar{
        flex-direction: column;
        gap: 15px;
    }
@media (max-width: 600px) {
    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }   
}